.footer {
    border-top: 1px solid $borderColor;


    .left {
        img {
            margin-right: 50px;
        }
        ul {
            li {
                margin-left: 25px;
            }
        }
    }

    .right {
        ul {
            li {
                margin-right: 25px;
            }
        }
        .specialBtn {
            &:hover{
                text-decoration: none;
            }
            padding: 13px 20px;
            color: #fff;
            background-color: #06d0ff;
            font-size: 16px;
            font-weight: 600;
            margin-right: 20px;
        }
    }
}